img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* .sno span{
    font-size: 14px;
    font-weight: 500;
}
.table-row td{
    margin-bottom: 15px;
} */

tbody tr{
    margin-bottom: 250px;
}